# ---------------------------------------------
# Angular / Node
# ---------------------------------------------
node_modules/
dist/
tmp/
out-tsc/

# Angular CLI cache
.angular/

# ---------------------------------------------
# JetBrains WebStorm
# ---------------------------------------------
.idea/
*.iml
.idea_modules/

# ---------------------------------------------
# Logs
# ---------------------------------------------
*.log

# ---------------------------------------------
# Misc
# ---------------------------------------------
.nx/cache
