@import "tailwindcss";
@import '@ng-brutalism/ui/styles.css';

/* Explicitly scan Angular templates & TS for class names.
   Auto-detection can miss files in an Nx monorepo layout. */
@source "./**/*.{html,ts}";

@theme {
  --background-grid: linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.08) 1px, transparent 1px);
}

body {
  @apply flex flex-col justify-center bg-amber-50 p-6;
  background-image: var(--background-grid);
  background-size: 24px 24px;
  font-family: var(--nb-font-mono);
}
